<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: head}">
</head>
<body>

<div class="container">
    <div class="title">
        Online Hotel Booking
    </div>
    <div class="wrapper">
        <div class="error" th:if="${param.error}">
            Invalid username and password.
        </div>

        <div class="error" th:if="${param.logout}">
            You have been logged out.
        </div>
        <div class="binder">
            <form th:action="@{/authenticateTheUser}" method="post">
                <div class="input-data">
                    <label for="username">Username</label>
                    <input required id="username" type="text" name="username" placeholder="Username">
                </div>

                <div class="input-data">
                    <label for="password">Password</label>
                    <input required id="password" type="password" name="password" placeholder="Password">
                </div>

                <div class="input-data">
                    <label for="login-as">
                        Login as
                    </label>
                    <select required id="login-as" name="role">
                        <option hidden>Select</option>
<!--                        <option th:value="${role}"-->
<!--                                th:each="role : ${roles}"-->
<!--                                th:text="${role.name().contains('_') ?-->
<!--                                role.name().replace('_', ' ') :-->
<!--                                role.name()}">-->
<!--                        </option>-->
                    </select>
                </div>

                <div class="input-data">
                    <input class="btn" type="submit" value="Login">
<!--                    <a th:href="@{/customers/register}">-->
<!--                        <input class="btn" type="button" value="Register as Customer">-->
<!--                    </a>-->
                </div>

            </form>
        </div>
    </div>

</div>
</body>
</html>