<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home-page :: head}">
</head>
<body>
    <div class="main">
        <div class="container-s">
            <div class="wrapper none">
                <form class="form-register"
                      method="post"
                      th:attr="action=@{/account/registerAccount}"
                      th:object="${account}">

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <div class="input-data">
                        <div class="error-input" th:errors="*{username}"></div>
                        <label>Username</label>
                        <input type="text" th:field="*{username}" placeholder="Username" />
                    </div>

                    <div class="input-data">
                        <div class="error-input" th:errors="*{password}"></div>
                        <label>Password</label>
                        <input type="password" th:field="*{password}" placeholder="Password" />
                    </div>


                    <div class="input-data">
                        <div class="error-input" th:errors="${account}"></div>
                        <div class="error-input" th:errors="*{passwordConfirmation}"></div>
                        <label>Confirm Password</label>
                        <input type="password" th:field="*{passwordConfirmation}" placeholder="Password Confirmation" />
                    </div>


                    <div class="input-data">
                        <div class="error-input" th:errors="*{role}"></div>
                        <input type="hidden" th:field="*{role}" placeholder="Role" />
                    </div>

                    <div class="input-data">
                        <div class="error-input" th:errors="*{firstName}"></div>
                        <label>Firstname</label>
                        <input type="text" th:field="*{firstName}" placeholder="First Name" />
                    </div>

                    <div class="input-data">
                        <div class="error-input" th:errors="*{lastName}"></div>
                        <label>Lastname</label>
                        <input type="text" th:field="*{lastName}" placeholder="Last Name" />
                    </div>

                    <div class="input-data">
                        <div class="error-input" th:errors="*{address}"></div>
                        <label>Address</label>
                        <textarea th:field="*{address}" placeholder="Address"></textarea>
                    </div>

                    <div class="center">
                        <input type="submit" value="Register"/>
                        <a th:href="@{/my-login/showMyLoginPage}">
                            <input type="button" value="Back to login page">
                        </a>
                    </div>

                </form>
            </div>
            
        </div>

    </div>
</body>
</html>